.bold-underlined {
    text-decoration: underline;
    text-decoration-color: #e83283;
    text-underline-offset: 0.27em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.container{
    width: 100%;
}

.container-one{
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    background-color: #e83283;
    color:black;
}

.container-one button, .container-one a  {
    background-color: rgba(255, 192, 203, 0.4);
    color: white; /* Set button text color */
}

.joels-border {
    color: black; /* Text color */
    border-right: black 1px solid; /* Right border */
    padding-right:10px;
}

.joels-border:hover {
    color: black; /* Specify text color when hovered over */
}

.movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust gap between images */
    margin-left: -10px; /* Adjust to compensate for flex gap */
    transition: transform 0.2s ease-in-out;
    border-radius: 4px;
}

.movie-poster:hover {
    transform: scale(1.05); /* Scale up on hover */
    border-color: #e83283; /* Change border color on hover */
}

.movie-poster {
    width: auto; /* Let the image size determine the width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    border: 2px solid pink; /* Pink border */
    padding: 5px; /* Add padding around the image */
    border-radius: 4px;
}
#movie-img {
    border-radius: 4px;;
}

#posters-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust gap between images */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    margin-left: -10px; /* Adjust to compensate for flex gap */
}


.margin-left {
    margin-left: 10px;
}

.movie-reel {
    width: 50px;
    height: auto;
    position: absolute;
    left: 0;
    animation: moveReel 5s linear infinite;
}
@keyframes moveReel {
    0% { left: 0; }
    50% { left: calc(100% - 50px); }
    100% { left: 0; }
}

.navbar-brand {
    margin-left: 10px;
}

.trailer-background {
    background-color: rgba(255, 192, 203, 0.5); /* Adjust the alpha value (0.5) for more transparency */
    color: black;
    font-size: x-large;
    padding: 10px;
    border-radius: 4px;
    display: inline-block; /* Adjust width to content */
}
/* style.css */
.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(100% - 20px);
    display: none;
}
.suggestions p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.suggestions p:hover {
    background-color: #f0f0f0;
}
#error-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #e83283;
    text-underline-offset: 10px;
}


.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  display: inline-block;
  position: fixed; /* Use fixed positioning to center in viewport */
  top: 82%;
  left: 48%;
  transform: translate(-50%, -50%); /* Center the spinner */
  z-index: 1000; /* Ensure it's above other elements */
  width: 1px;
  height: 1px;
}
.lds-spinner div {
  transform-origin: 20px 20px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 16.8px;
  width: 3.4px;
  height: 7.6px;
  border-radius: 2%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

   /* Media Queries */
   
   @media (max-width: 768px) {
    .movie-details {
      flex-direction: column;
      align-items: center;
    }
    .movie-info img {
      max-width: 300px;
    }
    .trailer {
      width:70%;
      margin-top: 20px;
      margin-left: 0;
    }
    .trailer iframe {
      width: 100%;
    }
  }








