.bold-underlined {
    text-decoration: underline;
    text-decoration-color: #e83283;
    text-underline-offset: 0.2em;
}

.padding-bottom {
    padding-bottom: 1em;
}

.container-one{
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    background-color: #e83283;
    color:black;
}

.container-one button, .container-one a  {
    background-color: rgba(255, 192, 203, 0.4);
    color: white; /* Set button text color */
}

.joels-border {
    color: black; /* Text color */
    border-right: black 1px solid; /* Right border */
    padding-right:10px;
   
}
.joels-border:hover {
    color: black; /* Specify text color when hovered over */
}
.movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust gap between images */
    margin-left: -10px; /* Adjust to compensate for flex gap */
}

.movie-poster {
    width: 200px; /* Adjust width of each image */
    height: auto;
    margin-left: 10px; /* Add left margin to each image */
    cursor: pointer;
    border: 2px solid pink; /* Pink border */
    padding: 5px; /* Add padding around the image */
}

.margin-left {
    margin-left: 10px;
}

.movie-reel {
    width: 50px;
    height: auto;
    position: absolute;
    left: 0;
    animation: moveReel 5s linear infinite;
}
@keyframes moveReel {
    0% { left: 0; }
    50% { left: calc(100% - 50px); }
    100% { left: 0; }
}

.navbar-brand {
    margin-left: 10px;
}
